@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	*,
	*::after,
	*::before {
		@apply m-0 p-0 box-border;
	}

	body {
		@apply bg-darkColor text-whiteColor;
	}
}

@layer components {
	.primaryBtn {
		@apply flex items-center justify-center gap-x-2 bg-primaryColor px-4 h-11 rounded hover:bg-primaryColor/95;
	}

	.secondaryBtn {
		@apply flex items-center justify-center gap-x-2 bg-whiteColor text-darkColor px-4 h-11 rounded hover:bg-whiteColor/95;
	}

	.outlineBtn {
		@apply flex items-center justify-center gap-x-3 border border-primaryColor hover:bg-primaryColor h-11 rounded;
	}

	.bottomOverlay {
		@apply after:z-[1] after:absolute after:bottom-0 after:w-full after:bg-gradient-to-b after:from-transparent after:to-[#060609];
	}

	.pageSection {
		@apply w-full py-8 px-4 md:px-10 lg:px-14 xl:px-20;
	}

	.loaderAnimate {
		@apply bg-gradient-to-tr from-[#292733] to-[#1c1b24] animate-pulse;
	}
}

:root {
	--swiper-theme-color: var(--primaryColor) !important;
}

::-webkit-scrollbar {
	background: hsl(240, 2%, 10%);
	width: 0.75rem;
}

::-webkit-scrollbar-thumb {
	background: rgba(131, 2, 56, 0.527);
	border-radius: 5px;
	box-shadow: inset 0px 0px 3px var(--darkColor);
	border: 2.5px solid hsl(240, 2%, 10%);
}

::-webkit-scrollbar-thumb:hover {
	border-radius: 5px;
	box-shadow: inset 0px 0px 3px var(--darkColor);
	border: 2.5px solid hsl(240, 2%, 10%);
	background: hsla(335, 100%, 35%, 0.712);
}

::-webkit-scrollbar-track {
	background: transparent;
}

@media screen and (max-width: 768px) {
	::-webkit-scrollbar {
		display: none;
	}
}
